CalScec/Res/ReflectionConditions/SlipSystems.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SlipSystemTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="SlipSystem">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SpaceGroup" type="xs:string" />
              <xs:element name="SpaceGroupId" type="xs:int" />
              <xs:element name="SlipPlain" type="xs:string" />
              <xs:element name="SlipDirection" type="xs:string" />
              <xs:element name="PlainCount" type="xs:int" />
              <xs:element name="DirectionCount" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
